/output
/work
/test
/archiso/airootfs/etc/calamares/qml
/archiso/airootfs/usr/local/lib/calamares-libs
/archiso/airootfs/usr/local/lib/calamares/modules
/archiso/airootfs/usr/lib/calamares-libs
/archiso/airootfs/usr/local/bin/calamares
/archiso/airootfs/usr/bin/calamares
/archiso/airootfs/usr/include/libcalamares
/archiso/airootfs/usr/lib/calamares
/archiso/airootfs/usr/lib/cmake
/archiso/airootfs/usr/lib/libcalamares*
/archiso/airootfs/usr/share/applications/calamares.desktop
/archiso/airootfs/usr/share/calamares
/archiso/airootfs/usr/share/icons/hicolor/scalable/apps/calamares.svg
calamares-python.mo
/archiso/airootfs/usr/share/man/man8/calamares.8
/archiso/airootfs/usr/share/polkit-1/actions/io.calamares.calamares.policy
/out
/temp