    [Unit]
    Description=meet - LAN fast and secure file sharing
    After=network.target

    [Service]
    User=s7lver
    WorkingDirectory=/home/s7lver/Projects/file-meet
    ExecStart=/home/s7lver/.local//bin/meet-backend
    Restart=always
    RestartSec=5
    Environment="CONFIG_PATH=/home/s7lver/Projects/file-meet/config.toml"

    [Install]
    WantedBy=multi-user.target
